@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --input-errors: hsl(0, 100%, 66%);
    --background-second: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --color-font-cards: #FFF;
    --primary-font: 'Space Grotesk', sans-serif;
}

* {
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-image: url("/img/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1rem 2.5rem;
}

.header__container-card-back {
    text-align: end;
    position: relative;
}

.header__content-card-back {
    position: absolute;
    top: 3.7rem;
    right: 2rem;
}

.header__container-card-front {
    position: absolute;
    top: 122px;
    left: 1rem;
}

.header__card {
    width: 280px;
}

.header__content-card-back p {
    font-size: 12px;
    color: var(--color-font-cards);
    letter-spacing: 1px;
}

.header__content-card-front {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.header__content-card-front p {
    color: var(--color-font-cards);
}

.header__content-card-front > p {
    padding: 0.8rem 0;
    letter-spacing: 2px;
}

.header__content-text {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.header__content-text p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}