@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --input-errors: hsl(0, 100%, 66%);
    --background-second: hsl(0, 0%, 100%);
    --color-border: hsl(270, 3%, 87%);
    --color-font-secondary: hsl(279, 6%, 55%);
    --color-font-primary: hsl(278, 68%, 11%);
    --color-font-cards: #FFF;
    --primary-font: 'Space Grotesk', sans-serif;
}

* {
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-image: url("/assets/img/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1rem 2.5rem;
}

main {
    background: var(--background-second);
}

/* Header */

.header__card {
    width: 280px;
}

.header__container-card-back {
    text-align: end;
    position: relative;
}

.header__content-card-back {
    position: absolute;
    top: 3.7rem;
    right: 2rem;
}

.header__container-card-front {
    position: absolute;
    top: 122px;
    left: 1rem;
}

.header__card:nth-child(1) {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
}

.header__content-card-front {
    position: absolute;
    width: 87%;
    top: 1rem;
    left: 1rem;
}

.header__content-card-back p {
    font-size: 12px;
    color: var(--color-font-cards);
    letter-spacing: 1px;
}

.header__content-card-front p {
    color: var(--color-font-cards);
}

.header__content-card-front > p {
    padding: 0.8rem 0;
    letter-spacing: 2px;
}

.header__content-text {
    display: flex;
    justify-content: space-between;
}

.header__content-text p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header__content-text div {
    display: flex;
}


/* Formulário */

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 1.5rem 3rem;
    width: 370px;
    margin: 0 auto;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}

.form__item:nth-child(3) {
    flex-direction: row;
    gap: 0.8rem;
}

.form__item input {
    color: var(--color-font-primary);
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

.form__item input::placeholder {
    color: var(--color-border);
}

.form__item > small {
    position: absolute;
    top: 67px;
    left: 3px;
}

.error {
    font-size: 11px;
    color: var(--input-errors);
    visibility: hidden;
}

.form__date-cvc {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}

.form__date-cvc:nth-child(2){
    width: 45%;
}

.date-cvc__itens {
    display: flex;
    gap: 0.4rem;
    position: relative;
}

.date-cvc__itens > small {
    position: absolute;
    top: 45px;
    left: 3px;
}

.date-cvc__itens input {
    width: 100%;
    text-align: center;
}

.label {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--color-font-primary);
}

.button {
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    background: var(--color-font-primary);
    color: var(--color-font-cards);
}


/* Fomulário completo */

.form-complete {
    display: flex;
    text-align: center;
    gap: 2rem;
}

.form-complete__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-complete__title {
    font-size: 28px;
    color: var(--color-font-primary);
    text-transform: uppercase;
}

.form-complete__description {
    color: var(--color-font-secondary);
}

/* desabilitar menu */
.hide {
    display: none;
}

.error-visible {
    visibility: visible;
}

@media screen and (min-width: 1360px) {
    body {
        display: flex;
        justify-content: center;
    }

    header {
        background-image: url("/assets/img/bg-main-desktop.png");
        padding: 2rem 1rem 2.5rem;
        width: 35%;
        height: 100vh;
    }
    
    main {
        width: 70%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .header__container {
        position: absolute;
        top: 15%;
        left: 15%;
        display: flex;
    }

    .header__card {
        width: 350px;
    }

    .header__container-card-back {
        position: absolute;
        top: 222px;
        left: 5rem;
    }
    
    .header__container-card-front {
        position: relative;
        top: 0;
    }

    .header__content-card-back {
        position: absolute;
        top: 4.8rem;
        right: 2.3rem;
    }
    
    .header__card:nth-child(1) {
        box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
    }
    
    .header__content-card-front {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        width: 87%;
        height: 80%;
        top: 1rem;
        left: 1rem;
    }

    .header__content-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #cardNumber {
        font-size: 22px;
    }

    .header__content-text p {
        color: var(--color-border);
    }
}